body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: "Fira"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  /* filter: contrast(120%) brightness(300%); */
  background:
	/* linear-gradient(194deg, rgba(13,14,16,1), rgba(28,16,45,0.86)),
	radial-gradient(circle at 72% 21%, rgba(144,205,255,1), rgba(220,71,71,0.49)), */
  /* linear-gradient(0deg, rgba(240, 240, 240, 1), rgba(255, 255, 255, 0.9)),
  url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  linear-gradient(0deg, rgba(29,33,37,1), rgba(0, 0, 0, 0.9));
  /* url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  /* height: 100vh; */
  /* background: url(../public/cool.svg); */
}

.app-light{
  background: 
    linear-gradient(180deg, rgb(200, 200, 200), rgba(230, 230, 230, 0.9)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  /* background: url(../public/cool.svg); */
  
}

.logo img,.logo-light img, .logo-footer img, .logo-footer-light img{
  height: 180px;
  width: auto;

}

.left {
  padding-left: 60px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  margin-right: auto;
}

.middle, .middle-light{
  flex: 1; /* Distribute remaining space evenly */
  display: flex;
  justify-content: center;
}
.middle ul, .middle-light ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.middle ul li, .middle-light ul li {
  margin-right: 20px;
}

.middle ul li a ,.middle-light ul li a{
  font-size: x-large;
  margin: 0;
  background-color: transparent;
  position: relative; /* Necessary for the pseudo-element */
  text-decoration: none; /* Remove default underline */
}

.middle ul li a {
  background: -webkit-linear-gradient(top right,#ffffff,#bababa );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.middle-light ul li a {
  background: -webkit-linear-gradient(top right,#000000,#545151 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .middle ul li a:hover, .middle-light ul li a:hover  {
    font-size: x-large;
    text-decoration: solid;
    font-weight: bold;
    background-color: transparent;
    margin: 0;
    
} */


/* .middle ul li a:hover{
  background: -webkit-linear-gradient(top right,#e8fa46,#ff9900 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle-light ul li a:hover{
  background: -webkit-linear-gradient(top right,#ff9900,#300606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.middle ul li a:hover, .middle-light ul li a:hover {
  background: -webkit-linear-gradient(top right, #e8fa46, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.middle ul li a::after, .middle-light ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: -webkit-linear-gradient(top right, #e8fa46, #ff9900);
  /* background-color: #e8fa46; Inherit the color */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.middle ul li a:hover::after, .middle-light ul li a:hover::after {
  width: 100%;
  left: 0;
}

.trial{
  /* padding: 60px; */
  padding: 12px;
  /* padding-right: 60px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.trial button{
  /* background: linear-gradient(to top left, #303437, #1D2125); */
  background: transparent;
  border-style: none;
  height: 40px;
  width: 170px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0;
  
}

.trial button:hover{
  background: linear-gradient(to top left, #3c4145, #2d3339);
}


.trial a{
  /* background: linear-gradient(to top left, #303437, #1D2125); */
  background: transparent;
  border-style: none;
  height: 40px;
  width: 170px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0;
  
}

.trial a:hover{
  background: linear-gradient(to top left, #3c4145, #2d3339);
}
.trial h4{
  background-color: transparent;
  margin: 0;
  /* background: -webkit-linear-gradient(top left,#ffffff,#a4a4a4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.right {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

/* Styles for the toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* input:checked + .slider {
  /* background-color: #2196F3; */
/* }  */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5) inset,
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5) inset; */
  box-shadow: 4px 4px 10px 0px #616161 inset,
                -4px -4px 10px 0px #414141 inset;
  /* background-color: #ccc; */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  /* box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: 4px 4px 10px 0px #3b3b3b,
                -4px -4px 10px 0px #808080;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  /* background-color: white; */
  -webkit-transition: .4s;
  transition: .4s;
}

#header-content{
  margin-bottom: 78px;
  
}

.header-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url(../public/cool.svg);  */
}

.image-container img {
  max-width: 100%;
  margin-right: 20px;
  height: 470px;
  width: auto;
  border-radius: 10%;
  box-shadow: 9px 9px 12px 2px rgba(117, 117, 117, 0.5),
                -9px -9px 5px 0px rgba(0, 0, 0, 0.5);
}

.about-text {
  padding: 20px;
}

.about-text h2 {
  margin-top: 0;
}

.center {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.profile-image {
  width: 150px; /* Set the desired width */
  height: 150px;
  margin-bottom: 20px; /* Add some margin between the image and the name */
}

.demo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%; /* Adjust width as needed */
  height: 60%;
  align-items: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: auto;
  background-color: rgba(255, 255, 255, 0.02); /* Adjust the background color and opacity as needed */
  z-index: 0; /* Move behind other elements */
  border: #ffffff solid 0.5px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
}


.name {
   /* Adjust the font size as needed */
  margin-left: 90px;
  min-width: 400px;
}

.name h5{
  
  padding: 0;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.name {
  
  /* color: white; Color for the name */
  margin-top: 20px; /* Adjust as needed */
}

.devName{
  font-size: 61px;
  
  background: -webkit-linear-gradient(top left,#914dff,#ffde68 );
}

.dev-light{
  font-size: 61px;
  
  background: -webkit-linear-gradient(top left,#b16820,#ffd332 );
}

.jobpos{
  font-size: 50px;
  background: -webkit-linear-gradient(top left, #eee7fb, #ffde68);
}

.jobPos-light{
  font-size: 50px;
  /* color: white; */
  background: -webkit-linear-gradient(top left, #3e2570, #336980);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
:root {
  --light-gradient-start: #eee7fb;
  --light-gradient-end: #ffde68;
  --dark-gradient-start: #914dff;
  --dark-gradient-end: #ffde68;
}



#socials-container {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
  
}

#socials-container img{
  background: -webkit-linear-gradient(top left,#d6e2ff,#5154ff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#socials-container img:hover{
  height: 60px;
  width: 60px;
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
}

.or-spacer {
  /* margin-top:78px;  */
  margin-left:100px; 
  /* width:400px;  */
  margin-right: 100px;
  position:relative; 
  
  .mask { 
    overflow:hidden; 
    height:20px; 
    &:after { 
      content:''; 
      display:block; 
      margin:-25px auto 0;
      width:100%; 
      height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px rgb(82, 82, 82);
    }
  }
}

.job-position-container {
  text-align: center;
}

.job-position {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.job-position-animation {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

/* Previous CSS styles remain unchanged */
.job-position {
  font-size: 18px;
  color: white; /* Color for the job position */
}

#about{
  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  color: white;
  font-size: x-large;
  padding-bottom: 35px;
  position: relative;
  /* text-align: justify; */
}

#about-light{
  position: relative;
  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  /* color: white; */
  font-size: x-large;
  padding-bottom: 35px;
  /* text-align: justify; */
}

#about .about-content-box, #about-light .about-content-box{
  font-size: x-large;
  text-justify: auto;
  text-align: justify;
}

#about h1.big,#about-light h1.big,#skills-light h1.big,#projects-light h1.big,  #contact-light h1.big,
#skills h1.big,#projects h1.big,  #contact h1.big{
  position: absolute;
  top: 0px;
  left: 50%;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  font-weight: 900;
  transform: translateX(-50%);
  margin-top: 0;
  margin-bottom: 0;
}

#about-light h1.big, #skills-light h1.big,#projects-light h1.big,  #contact-light h1.big  {
  color: rgba(67, 9, 9, 0.1);
}

#about h2, #skills h2, #contact h2, #projects h2{
  background-color: transparent;
  background: -webkit-linear-gradient(top right,#ff4d4d,#d2ff68 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

#about-light h2, #skills-light h2, #contact-light h2, #projects-light h2{
  background-color: transparent;
  background: -webkit-linear-gradient(top right,#c12929,#ff4d4d );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills , #skills-light{
  position: relative;
  margin-top: -20px;
  text-align: center;
  padding-top: 30px;
  font-size: x-large;
  padding-bottom: 35px;
}

#skills,#projects,#contact{ color:white;}
#skills-light, #projects-light, #contact-light {color:black;}


#projects, #projects-light {
  position: relative;
  margin-top: -20px;
  text-align: center;
  padding-top: 30px;
  font-size: x-large;
}

.project-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  /* padding-left: 10% ; */
  max-width: 1200px;
  justify-content: space-around;
  display: flex;
  margin: 20px auto;
  transition: transform 0.2s ease;
}

.prv,.nxt{
  background: transparent;
  border-style: none;
  height: 40px;
  width: 60px;
  /* border-radius: 20px; */
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0;
}


.project-box {
  width: 300px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  /* background-color: #282c34; Adjust background color as needed */
  border-radius: 10px;
  margin-left: 30px;
}

.project-box img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
  
  /* border-color: #860000; */
  /* border: solid; */
}

.project-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.project-box p {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 13px;
  margin-left: auto;
}

.project-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #61dafb; /* Adjust background color as needed */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.project-box a:hover {
  background-color: #0d8ecf; /* Adjust hover background color as needed */
}

.project-description {
  max-height: 100px; /* Adjust the maximum height as needed */
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
  white-space: normal;
}

.button-container{
  margin-bottom: 50px;
}

#contact, #contact-light{
  position: relative;
  height: calc(100vh - 100px);
  margin-top: -20px;
  text-align: center;
  padding-top: 30px;
  font-size: x-large;
}

#cntct-sub{
  margin-bottom: 30px;
  /* border-radius: 2px; */
}
.about-content-box {
  border-radius: 10px;
  /* padding: 20px; */
  margin: 20px auto; /* Adjust margin as needed */
  max-width: 800px; /* Adjust width as needed */
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  height: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  line-height: 400px;
  
}

.about-content-box p{
  line-height: 1.8;
}

.image-name-container {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  position: relative;
}


.image-container {
  z-index: 1;
}

.name {
  display: flex; /* Ensure the name text is inline with the cursor */
  flex-direction: column;
  align-items: center; /* Align text vertically */
  font-size: 50px; /* Adjust font size as needed */
  min-width: 650px;
  z-index: 1;
}

.profile-image {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  border-radius: 50%; /* Ensure the image is circular */
  margin-right: 20px; /* Add margin to separate the image from the name */
}

.custom-cursor {
  display: inline-block;
  width: 4px;
  height: 40px;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.contact-content-box {
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
}
form{
  padding-left:auto;
  padding-right:auto;
}
.form-group {
  margin-bottom: 20px;
}

#name-group{
  margin-left: auto;
  margin-right:auto;
  justify-content: center;
}
.name-group {
  display: flex;
  margin-left: 20px;
}

.name-group .form-group {
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 65%;
  padding: 8px;
  font-size: 16px;
  opacity: 0.3;
  border-radius: 12px;
}

textarea{
  height:100px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 1400px) {
  .about-containers {
      flex-wrap: wrap;
  }
}

.about-content-box1 {
  border-radius: 10px;
  /* padding: 20px; */
  margin: 20px auto; /* Adjust margin as needed */
  max-width: 800px; /* Adjust width as needed */
  box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  height: 450px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  /* line-height: 400px; */
  display: flex;
  
}

.about-content-box1 p{
  line-height: 1.8;
}

.about-containers, .about-details-container {
  display: flex;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  text-align: center;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

article {
  width: 11rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article h3, article p{
  margin:0;
}

article p{
  font-size: medium;
}

article .icon {
  cursor: default;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

img, svg {
  vertical-align: middle;
}

/* Footer.css */

footer {
  background-color: #131314;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  
}

.left-side {
  margin-left: 30px;
  margin-top: 50px;
  flex-grow: 1;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side p{
  color:white;
}
.right-side img {
  height: 130px; /* Adjust the height as needed */
  margin-left: 10px; /* Add spacing between social icons and logo */
}

.footer_img {
  display: flex;
}

.footer_img img {
  display: inline-block;
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Add spacing between icons */
}
@media screen and (max-width: 431px) {
  /* header{
    flex-direction: column;
  } */

  .left {
    margin-right: 0;
    height:80px;
    /* align-items: start; */
    padding-left:0;
    padding-right: 0;
  }

  .logo img, .logo-light img {
    height: 150px;
  }
  
  .middle,.middle-light{
    display: none;
    height:0;
  }
  

  .trial{
    padding:20px;
  }
  .trial button{
    height:50px;
  }

  .demo-container{
    margin-left: 6%;
    height:52%;
  }
  .header-content-container, .center, .image-name-container{
    flex-direction: column;
  }

  .image-container img{
    margin-right: 0px;
    height: 350px;
  }

  .name{
    min-width: 400px;
    text-align: center;
    margin: 0;
  }

  .devName{
    font-size: 40px;
    background: -webkit-linear-gradient(top left, #914dff, #ffde68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dev-light{
    font-size: 40px;
    background: -webkit-linear-gradient(top left,#5425a0,#fa7850 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .jobpos{
    font-size: 28px;
    /* color: white; */
    background: -webkit-linear-gradient(top left, #eee7fb, #ffde68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .jobPos-light{
    font-size: 28px;
    /* color: white; */
    background: -webkit-linear-gradient(top left, #3e2570, #336980);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-cursor{
    height:27px;
  }

  #socials-container img{
    height:50px;
  }
  #about h1.big, #about-light h1.big, #skills-light h1.big, #projects-light h1.big, #contact-light h1.big, #skills h1.big, #projects h1.big, #contact h1.big {
    font-size: 18vw;
    top: auto;
  }

  .about-content-box,.about-content-box1{
    max-width: 275px;
    height: 430px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-content-box p {
    line-height: 1.7;
    font-size: 1rem;
  }

  .details-container{
    padding: 0;
    padding-top: 2.1rem;
  }
  article{
    width: 4rem;
  }

  article img{ height:3rem;}
  article h3{
    font-size: large;
  }

  article p{
    font-size: small;
  }

  .project-carousel {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    /* padding-left: 10% ; */
  }
  
  .project-container {
    display: inline-block;
  }
  
  .project-box {
    width: 300px;
    margin-right: 20px; /* Adjust spacing between project boxes */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 4px 4px 10px 0px rgba(48, 52, 55, 0.5),
                -4px -4px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  /* Additional CSS styles for project box content */
  .project-description {
    max-width: 280px; /* Adjust the maximum height as needed */
    overflow: hidden;
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    white-space: normal;
  }
  
  .contact-content-box{
    /* width:85%; */
    max-width: 200px;
  }

  footer{
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 15px;
  }

  .left-side{
    font-size: small;
    margin-top: 29px;
  }

  .logo-footer img, .logo-footer-light img {
    height: 125px;
  }

  .right-side{
    margin-right: 150px;
    
    
  }
/*   
  .footer_img{
    margin-right: 70px;
  } */


  #header-content{
    padding-right: 15px;
  }

  
}